# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
DerivedData/
build/

# Swift
.build/
*.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.swp
*.swo
*~
.vscode/
