<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835109155233-nqku1kdvj6i2vgetve9bavo6umh0ka9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835109155233-nqku1kdvj6i2vgetve9bavo6umh0ka9k</string>
	<key>API_KEY</key>
	<string>AIzaSyAJqihwrPiIyGkeTAPFA4arkRn8AzE1iFw</string>
	<key>GCM_SENDER_ID</key>
	<string>835109155233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Saab-Studios.Setra</string>
	<key>PROJECT_ID</key>
	<string>setra-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>setra-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835109155233:ios:3ac37ba83aca3550015be0</string>
</dict>
</plist>